.main-meeting .meeting-sidebar.show .list-participants-panel {
    border-radius: 12px;
    flex: 1;
    min-height: 0;
    width: 100%;
    display: flex;
    gap: 6px;
    border: 1px solid rgb(228, 228, 228);
    overflow-y: auto;
    flex-direction: column;
    padding: 12px;
}

.main-meeting .meeting-sidebar.show .list-participants-panel::-webkit-scrollbar {
    display: none;
}

.main-meeting .meeting-sidebar.show .list-participants-panel .list-participants-panel__user {
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    border: 1px solid rgb(224, 224, 224);
    align-items: center;
    justify-content: space-between;
}

.main-meeting .meeting-sidebar.show .list-participants-panel .list-participants-panel__user .list-participants-panel__status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main-meeting .meeting-sidebar.show .list-participants-panel .list-participants-panel__user .list-participants-panel__mic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-meeting .meeting-sidebar.show .list-participants-panel .list-participants-panel__user .list-participants-panel__cam {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
}